@using Square.Client.ViewModels;
@namespace Square.Client.Pages
@page "/square"
@inherits BasePage

<h3>Négyzet kerület és terület számítás</h3>
<CascadingValue Name="ViewModel" Value="@ViewModel">
    <SquareForm />
    <SquareResultBox />
</CascadingValue>

@code {

    [Inject]
    public ISquareViewModel? ViewModel { get; set; }
}
